* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body {
    font: 13px Helvetica, Arial;
    overflow: hidden;
}

#login{
    height: 175px;
    top: calc(50% - 175px);
    margin: auto;
    float: none;
    padding: 0;
}

#login form {
    background-color: #EFEFEF;
    position: absolute;
    bottom: inherit;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 2px 3px 10px grey;
}

#login form input{
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px #C2C2C2;
}
#login form button{
    width: 100px;
    padding: 10px;
    border-radius: 2px;
}
#scene {
    display: none;
    top:10px;
    left : 10px;
    position: relative;
}
/*td{    
    width:64px;
    height:64px;
    
}*/
tr,td,table{
    margin:0;
    padding:0;
    border-collapse: collapse;                
    margin-bottom: 10px;
}

#table{
    display: inline-block;
}

#console{
    background-color: black;
    color: white;
    position: relative;
}


.undestructible{
    background:url('../img/x64/sprites/texture2.png') 0 0 no-repeat;
    background-position: 0px 0px;
}
.destructible{
    background:url('../img/x64/sprites/texture2.png') 0 0 no-repeat;
    background-position: -128px 0px;
}
.floor{
    background:url('../img/x64/sprites/texture2.png') 0 0 no-repeat;
    background-position: -64px 0px;
}
.char1{
    background:url('../img/x64/char/char1.png') 0 0 no-repeat;
}
.char2{
    background:url('../img/x64/char/char2.png') 0 0 no-repeat;
}
.char3{
    background:url('../img/x64/char/char3.png') 0 0 no-repeat;
}
.char4{
    background:url('../img/x64/char/char4.png') 0 0 no-repeat;
}
.char5{
    background:url('../img/x64/char/char5.png') 0 0 no-repeat;
}
.char6{
    background:url('../img/x64/char/char6.png') 0 0 no-repeat;
}
.bomb{
    background:url('../img/x64/sprites/a_bomb.png') 0 0 no-repeat;
}
.level1{
    z-index: 1;
    position: absolute;
    width: 64px; height: 64px
}
.level2{
    z-index: 5;
    position: absolute;
    width: 64px; height: 64px
}
.level3{
    z-index: 10;
    position: absolute;
    width: 64px; height: 64px
}
.con{
    position: relative;
    width: 64px; height: 64px
}



#list{
    height: 30px;
    background-color: grey;
    width: 1600px;
    display: inline-block;
}

/**
 * player's profile
 */

#data{
    width: 160px;
    height: 240px;
    display: inline-block;
    margin: 0 10px;
    background: grey;
    position: absolute;
    top:0;
}

#data #char{
    height: 70px;
    width: 60px;
    margin: auto;
}